$html-font:    'Source Sans Pro', Helvetica, Arial, sans-serif;
$heading-font: 'Oswald', Helvetica, Arial, sans-serif;
$hero-title-color: rgba(153, 0, 0, 0.867);
$hero-tagline-color: rgb(160, 160, 160);